.header {
  background-color: #001529;
  overflow: hidden;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  height: 65px;
  margin: 0 auto;
  /* background-color: #001529;  */
}

.secureDoc-logo-image {
  height: 150px !important;
}

.layout-menu {
  display: flex;
  justify-content: end;
  width: 480px;
  font-weight: 600;
  font-size: 12px;
}

/* .logo-wrapper {
} */

.logo-inner-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.drawer-button {
  display: none;
}

.drawer-wrapper {
  display: none;
}

.drawer-layout-menu {
  background-color: transparent;
  color: black;
}

@media only screen and (max-width: 1024px) {
  .logo-inner-wrapper {
    font-size: 20px;
  }

  .item {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    height: 50px;
  }

  .logo {
    font-size: 18px;
  }

  .layout-menu {
    display: none;
  }

  .drawer-wrapper {
    display: block;
  }

  .drawer-button {
    display: block;
    color: white;
  }
}
